body {
    background: linear-gradient(90deg, #050505, #faf603c9);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  
  p {
    margin: 0;
  }
  
  section {
    display: flex;
    align-items: center;
  }
  
  .card {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 350px;
    margin: 50px 100px;
    border-radius: 6px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
  }
  
  .buttons section {
    flex-direction: column;
  }
  
  button {
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    margin: 5px 0;
  }
  
  button i {
    margin-right: 15px;
  }
  
  button:hover {
    color: #3D2AA4;
    box-shadow: 1px 1px 8px #3D2AA4;
  }
  
  button:active {
    color: #E5A7F2;
  }
  
  
  
  .size-2 {
    font-size: 40px;
    margin: 20px 0;
  }
  
  .size-3 {
    font-size: 30px;
    margin: 20px 0;
  }
  
  #dice {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    margin: 15px;
    min-width: 100px;
    min-height: 100px;
   
}
  
  #roll, #hold {
    visibility: hidden;
  }